:root {
    --header-padding: 6vh;
    --header-color: #9B9B8C;
    --footer-color: #686859;
    --btn-color: #363626;
    --background-color: #EEEEEE;
}

@font-face {
    font-family: 'avenirNext';
    src: url('./fonts/AvenirNextLTPro-Regular.otf');
}

body > .container-fluid {
    padding-top: var(--header-padding);
    /* margin-bottom: var(--header-padding); */
    background-color: var(--background-color);
    height: 94vh;
}

.navbar {
    min-height: var(--header-padding);
    background-color: var(--header-color);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--header-padding);
    background-color: var(--footer-color);
    color: whitesmoke;
    font-size: 1.5rem;
}

.btn-secondary {
    background-color: var(--btn-color);
    font-family: 'avenirNext';
    color: whitesmoke;
    font-size: 1.5rem;
    margin: .5rem;
}

.background {
    background: url('./resources/fadedTrack.jpg') center / cover;
    padding-bottom: var(--header-padding);
}

.row.fill {
    height: 100%;
}

.album-container {
    height: 33%;
    padding: 10px;
    padding-left: 33%;
}

.album-container img {
    height: 100%;
    width: auto;
}

.album-thumbnail {
    height: 100px;
    width: 100px;
    margin: .5em;
}

img {
    height: 100%;
    width: auto;
    margin: 1rem;
}

.heading {
    margin: 1rem;
    padding: 0;
    font-family: 'avenirNext';
    font-size: 2.5rem;
    color: #56106E;
}

.textarea {
    border: 2px solid black;
    height: 150px;
    /* display: flex; */
    flex-wrap: nowrap;
    overflow-y: auto;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 2rem;
}